.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100%;
}

.full-width-image {
    max-height: 100%;
    width: auto;
}

.title {
    flex: 1;
    color: #ff007f;
}

.subtitle {
    color: #ebbed4;
}

.description {
    color: lightgray;
}

.btn-pink {
    background-color: #ff007f;
    color: white;
    border: none;
}